.HeroSectionParent{
    background: radial-gradient(rgba(255,0,0,0.1),rgba(255,255,255,0.3));
    
}
.HeroSectionParent .img{
    position: absolute;
    z-index: -1;
}
.imgOne{
    left: -10%;
    top: 20%;
}
.imgTwo{
    left: -10%;
    top: 57%;
}
.imgThree{
    left: -20%;
    top: 80%;
}
.imgFour{
    right: -10%;
    top: 15%;
}
.imgFive{
    right: 0%;
    top: 60%;
}
h1 {
    -webkit-text-stroke-color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 100px; /* Use viewport width unit for responsive font size */
    -webkit-text-stroke-width: 2px;
    margin-top: 120px !important;
}
h1 p {
    -webkit-text-stroke-color: #ff3838;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    font-weight: 700;
    font-size: 153px;
    text-transform: uppercase;
    line-height: 180px;
    
}


h1 span {
    line-height: 140px;
    color: #fff;
    display: block;
    font-size: 200px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    
    
}
h1 strong {
    line-height: 300px;
    display: flex;
    font-size: 300px; /* Use viewport width unit for responsive font size */
    font-weight: 900;
    background: linear-gradient(180deg, #256378 0, rgba(255, 56, 56, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
}
@media(max-width:768px){
    h1 p {
        font-size: 100px;
        line-height: 80px;
    }
    h1 span {
        line-height: 110px;
        font-size: 100px;
    }
    h1 strong {
        line-height: 100px;
        font-size: 110px;
    }
   
}
@media(max-width:1200px){
    .img{
        display: none;
    }
}