.mainContent img {
    width: 300px !important;
    height: 100% !important;
}


.footerData p {
    font-size: 25px;
    width: 50%;
}
.footerData img {
    width: 250px !important;
    object-fit: contain;
}

